{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- Carrossel começo -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'products/img/imagem1-carousel.jpg' %}" class="d-block w-100 imagem-carrossel" alt="...">
        <div class="carousel-caption d-none d-md-block h-50">
          <h1 class="texto-cor-especial fonte-especial texto-opacidade display-2">FIND A WAY,</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'products/img/imagem2-carousel.jpg' %}" class="d-block w-100 imagem-carrossel" alt="...">
        <div class="carousel-caption d-none d-md-block h-50">
          <h1 class="texto-cor-especial fonte-especial texto-opacidade display-2">NOT AN EXCUSE.</h1>
        </div>
      </div>
    </div>
</div>
<!-- Carrossel fim -->

<!-- Categorias começo -->
<div class="row justify-content-center bg-light">

  <div class="card card-largura card-estilo mt-5 p-0 m-4 col-12 col-md-3 shadow rounded zoom">
    <a href="{% url 'products' 13 %}"><img src="{% static 'products/img/imagem1-card.jpg' %}" class="card-img-top card-posicao-imagem1"></a>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  
  <div class="card card-largura card-estilo mt-5 p-0 m-4 col-12 col-md-3 shadow rounded zoom">
    <a href="{% url 'products' 14 %}"><img src="{% static 'products/img/imagem2-card.jpg' %}" class="card-img-top card-posicao-imagem1"></a>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card card-largura card-estilo mt-5 p-0 m-4 col-12 col-md-3 shadow rounded zoom">
    <a href="{% url 'products' 15 %}"><img src="{% static 'products/img/imagem3-card.jpg' %}" class="card-img-top card-posicao-imagem1"></a>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

</div>
<!-- Categorias fim -->
{% endblock header %}
