{% extends 'base.html' %}
{% load static %}

{% block header %}
  {% if info.category.id == 13 %}
  <div id="carouselExampleSlidesOnly" class="carousel" data-ride="carousel">
      <div class="carousel-inner" style="position: absolute;">
          <div class="carousel-item active">
              <img src="/static/products/img/image-banner1.jpg" class="d-block w-100 banner-imagem1 rounded-bottom" alt="...">
          </div>
      </div>
  </div>
  {% elif info.category.id == 14 %}
  <div id="carouselExampleSlidesOnly" class="carousel" data-ride="carousel">
      <div class="carousel-inner" style="position: absolute;">
          <div class="carousel-item active">
              <img src="/static/products/img/image-banner2.jpg" class="d-block w-100 banner-imagem2 rounded-bottom" alt="...">
          </div>
      </div>
  </div>
  {% elif info.category.id == 15 %}
  <div id="carouselExampleSlidesOnly" class="carousel" data-ride="carousel">
      <div class="carousel-inner" style="position: absolute;">
          <div class="carousel-item active">
              <img src="/static/products/img/image-banner3.jpg" class="d-block w-100 banner-imagem3 rounded-bottom" alt="...">
          </div>
      </div>
  </div>
  {% endif %}
{% endblock header %}

{% block content %}
<div class="container pt-2" style="position: relative;">
  <div class="row justify-content-center">
    <div class="card mt-3 bg-light">
      <div class="row no-gutters">
        <div class="col-md-5">
          <a href="" data-toggle="modal" data-target="#image-zoom"><img src="{{ info.image.url }}" class="posicao-imagem m-3 zoom rounded"></a>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h4 class="card-title">{{ info.name }}</h4>
            <h5 class="card-title">$ {{ info.price|stringformat:".2f" }}</h5>

            <div class="form-group pt-1" role="group" aria-label="Basic example">
              <form id='product-resume' method="post" action="{% url 'subtotal' info.id %}" class="form">
                {% csrf_token %}
                {% if sub_category == 'clothes' %}
                  {{ form }} <!-- Tamanhos -->
                {% endif %}
                <div class="pt-1">
                  <input type="submit" class="btn btn-primary" value="Buy now">
                  <input type="button" class="btn btn-secondary" value="Add to cart">
                </div>
              </form>
            </div>
            <p class="card-text pt-1">{{ info.details }}</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mt-4">
      <div class="col-6">
        <div class="card bg-light h-100">
          <div class="card-body">
            <h5 class="card-title">Product details</h5>
            <p class="card-text">{{ info.details }}</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Recommended for you</h5>
            <div class="card-group">
              {% for product in recommended %}
              <div class="card m-2 zoom rounded shadow">
                <a href="{% url 'product' product.category.id product.id %}"><img src="{{ product.image.url }}" class="card-img-top posicao-imagem2 rounded" alt="..."></a>
                <div class="card-body">
                  <a href="{% url 'product' product.category.id product.id %}" class="link-personalizado"><p class="card-title">{{ product.name }}</p></a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mt-4">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title">Comments</h5>
            <p class="card-text text-center">This product has no comments yet</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="image-zoom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <dialog class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </header>
      <main class="modal-body">
        <img src="{{ info.image.url }}" class="posicao-imagem-zoom">
      </main>
    </dialog>
  </div>
</div>

{% endblock content %}