/* Mais usado na página inicial */
.card-largura {
    max-width: 18rem;
}

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 75%;
    height: 500px;
}

.card-posicao-imagem1 {
    object-fit: cover;
    object-position: 0 35%;
    height: 300px;
}

.card-produto-largura {
    max-width: 13rem;
}