/* Mais usado na página inicial */
.card-largura {
    max-width: 18rem;
}

.zoom {
    transition: transform .7s;
}

.zoom:hover {
    transform: scale(1.02);
}

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 75%;
    height: 500px;
}

.card-posicao-imagem1 {
    object-fit: cover;
    object-position: 0 35%;
    height: 300px;
}

.card-produto-largura {
    max-width: 13rem;
}

/* Mais usado na página do produto */
.posicao-imagem {
    object-fit: cover;
    object-position: left top;
    height: 450px;
    width: 450px;
}

.posicao-imagem2 {
    object-fit: cover;
    object-position: 0 35%;
    height: 150px;
}

/* usado na página do produto */

.posicao-imagem-zoom {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

/* usado no modal do produto */

.link-personalizado {
    text-decoration: none;
    color: inherit;
}

.link-personalizado:hover {
    text-decoration: skyblue;
}

.botao-personalizado {
    width: 44px;
}

.nao-selecionavel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}